
@font-face {font-family: 'lemonmilk'; src: url("font/LemonMilkbold.otf");}
.logo {font-family: "lemonmilk"; color: #0f403c; text-align:center;}
.buc {font-family: "lemonmilk"; color: #0f403c; font-size:1em}